<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ embeddedAsset.title }}</title>
	{% set previewCss = view.getAssetManager().getPublishedUrl('@spicyweb/embeddedassets/assets/preview/dist/styles/preview.css', true) %}
	<link rel="stylesheet" href="{{ previewCss }}">
	{% set previewJs = view.getAssetManager().getPublishedUrl('@spicyweb/embeddedassets/assets/preview/dist/scripts/preview.js', true) %}
	<script src="{{ previewJs }}"></script>
	{% if callback is defined and callback %}
		<script>EmbeddedAssetsPreview.addCallback('{{ callback|e('js') }}')</script>
	{% endif %}
</head>
<body>

	{% include 'embeddedassets/_components/embedded_asset_preview' with {embeddedAsset: embeddedAsset} only %}

	{% if showContent %}

		<div class="content">
			<h1>{{ embeddedAsset.title|default(embeddedAsset.url) }}</h1>
			{% if embeddedAsset.description %}
				<p>{{ embeddedAsset.description }}</p>
			{% endif %}
			<ul>
				{% if embeddedAsset.providerName %}
					<li>
						{% set providerIcon = embeddedAsset.getProviderIconToSize(32) %}
						{% if providerIcon %}
							<img src="{{ providerIcon.url }}" width="{{ providerIcon.width }}" height="{{ providerIcon.height }}">
						{% endif %}
						{% if embeddedAsset.providerUrl %}
							<a href="{{ embeddedAsset.providerUrl }}" target="_blank" rel="noopener">
								{{ embeddedAsset.providerName }}
							</a>
						{% else %}
							{{ embeddedAsset.providerName }}
						{% endif %}
					</li>
				{% endif %}
				{% if embeddedAsset.type %}
					<li>{{ embeddedAsset.type|ucfirst|t('embeddedassets') }}</li>
				{% endif %}
				{% if not embeddedAsset.isSafe() %}
					<li><i id="warning" class="warning"></i></li>
				{% endif %}
			</ul>
		</div>

	{% endif %}

	{% if embeddedAsset.isSafe() and embeddedAsset.code %}
		<script>EmbeddedAssetsPreview.applyRatio(document.getElementById('code'))</script>
	{% endif %}

</body>
</html>
