{% import '_includes/forms' as forms %}

<div class="settings">

	{{ forms.autosuggestField({
		label: "embed.ly API Key"|t('embeddedassets'),
		instructions: "An {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[embed.ly API](http://docs.embed.ly/docs/embedly-api)',
		}),
		id: 'embedlyKey',
		name: 'embedlyKey',
		value: settings.embedlyKey,
		errors: settings.getErrors('embedlyKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "iFramely API Key"|t('embeddedassets'),
		instructions: "An {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[iFramely API](https://iframely.com/docs/iframely-api)',
		}),
		id: 'iframelyKey',
		name: 'iframelyKey',
		value: settings.iframelyKey,
		errors: settings.getErrors('iframelyKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "Google API Key"|t('embeddedassets'),
		instructions: "A {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[Google API](https://developers.google.com/maps/documentation/embed/guide)',
		}),
		id: 'googleKey',
		name: 'googleKey',
		value: settings.googleKey,
		errors: settings.getErrors('googleKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "SoundCloud API Key"|t('embeddedassets'),
		instructions: "A {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[SoundCloud API](https://developers.soundcloud.com/docs/api/guide)',
		}),
		id: 'soundcloudKey',
		name: 'soundcloudKey',
		value: settings.soundcloudKey,
		errors: settings.getErrors('soundcloudKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "Facebook Graph API Key"|t('embeddedassets'),
		instructions: "A {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[Facebook Graph API](https://developers.facebook.com/docs/graph-api)',
		}),
		id: 'facebookKey',
		name: 'facebookKey',
		value: settings.facebookKey,
		errors: settings.getErrors('facebookKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "HTTP Referer"|t('embeddedassets'),
		instructions: "Domain to set as HTTP Referer, e.g. `https://domain.com`"|t('embeddedassets'),
		id: 'referer',
		name: 'referer',
		value: settings.referer,
		errors: settings.getErrors('referer'),
		suggestEnvVars: true
	}) }}

    {{ forms.autosuggestField({
        label: "Custom Adapters Namespace"|t('embeddedassets'),
        instructions: "Namespace used to load custom adapters, e.g. `modules\\mymodule\\adapters\\`"|t('embeddedassets'),
        id: 'customAdaptersNamespace',
        name: 'customAdaptersNamespace',
        value: settings.customAdaptersNamespace,
        errors: settings.getErrors('customAdaptersNamespace'),
        suggestEnvVars: true
    }) }}

	{{ forms.editableTableField({
		label: "Parameters"|t('embeddedassets'),
		instructions: "List of extra parameters and their values to be sent when retrieving embed data."|t('embeddedassets'),
		id: 'parameters',
		name: 'parameters',
		rows: settings.parameters,
		errors: settings.getErrors('parameters'),
		cols: {
			param: { type: 'singleline', heading: "Parameter"|t('embeddedassets'), class: 'code' },
			value: { type: 'singleline', heading: "Value"|t('embeddedassets'), class: 'code' },
		},
		addRowLabel: "Add a parameter"|t('embeddedassets'),
	}) }}

</div>
