{% import '_includes/forms' as forms %}

<div class="settings">

	{{ forms.autosuggestField({
		label: "Google API Key"|t('embeddedassets'),
		instructions: "A {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[Google API](https://developers.google.com/maps/documentation/embed/guide)',
		}),
		id: 'googleKey',
		name: 'googleKey',
		value: settings.googleKey,
		errors: settings.getErrors('googleKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "Facebook Graph API Key"|t('embeddedassets'),
		instructions: "A {api} key to be used as a fallback data provider."|t('embeddedassets', {
			api: '[Facebook Graph API](https://developers.facebook.com/docs/graph-api)',
		}),
		id: 'facebookKey',
		name: 'facebookKey',
		value: settings.facebookKey,
		errors: settings.getErrors('facebookKey'),
		suggestEnvVars: true
	}) }}

	{{ forms.autosuggestField({
		label: "HTTP Referer"|t('embeddedassets'),
		instructions: "Domain to set as HTTP Referer, e.g. `https://domain.com`"|t('embeddedassets'),
		id: 'referer',
		name: 'referer',
		value: settings.referer,
		errors: settings.getErrors('referer'),
		suggestEnvVars: true
	}) }}

	{{ forms.lightswitchField({
		label: 'Use YouTube nocookie?'|t('embeddedassets'),
		instructions: 'Whether to force YouTube video iframes to use the `youtube-nocookie.com` domain.'|t('embeddedassets'),
		id: 'useYouTubeNoCookie',
		name: 'useYouTubeNoCookie',
		on: settings.useYouTubeNoCookie,
	}) }}

	{{ forms.lightswitchField({
		label: 'Disable tracking on Vimeo iframes?'|t('embeddedassets'),
		instructions: 'Whether to force Vimeo video iframes to use the query parameter `dnt=1` to prevent tracking.'|t('embeddedassets'),
		id: 'disableVimeoTracking',
		name: 'disableVimeoTracking',
		on: settings.disableVimeoTracking,
	}) }}

	{{ forms.lightswitchField({
		label: 'Show link icons on fields?'|t('embeddedassets'),
		instructions: 'Whether to show icons linking to embedded asset URLs on asset fields.'|t('embeddedassets'),
		id: 'showFieldLinkIcon',
		name: 'showFieldLinkIcon',
		on: settings.showFieldLinkIcon,
	}) }}

	{{ forms.editableTableField({
		label: "Parameters"|t('embeddedassets'),
		instructions: "List of extra parameters and their values to be sent when retrieving embed data."|t('embeddedassets'),
		id: 'parameters',
		name: 'parameters',
		rows: settings.parameters,
		errors: settings.getErrors('parameters'),
		cols: {
			param: { type: 'singleline', heading: "Parameter"|t('embeddedassets'), class: 'code' },
			value: { type: 'singleline', heading: "Value"|t('embeddedassets'), class: 'code' },
		},
		addRowLabel: "Add a parameter"|t('embeddedassets'),
	}) }}

</div>
